[tool.black]
line-length = 88
skip-string-normalization = true
target-version = ['py313']
include = '\.pyi?$'
exclude = '''
	/(
		\.git
		| \.hg
		| \.mypy_cache
		| \.tox
		| \.venv
		| _build
		| buck-out
		| build
		| dist
	)/
'''